html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
}

html,
body {
    height: 100%;
}

body * {
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    vertical-align: middle;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

a img {
    border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

audio:not([controls]),
[hidden] {
    display: none;
}

/* iPhone4/5 */
@media (max-width: 320px) {
    html {
        font-size: 42.66665px;
    }
}

/* iPhone 6 */
@media (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    html {
        font-size: 50px;
    }
}

/* iPhone 6 + */
@media (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
    html {
        font-size: 55.2px;
    }
}

@media (min-width: 321px) and (max-device-width: 374px) {
    html {
        font-size: 47px;
    }
}

@media (min-width: 737px) and (max-device-width: 1024px) {
    html {
        font-size: 80px;
    }
}

body {
    font-family: PingFangSC-Light, 'helvetica neue', 'hiragino sans gb', tahoma, 'microsoft yahei ui', 'microsoft yahei', simsun, sans-serif;
    -webkit-text-size-adjust: 100% !important;
}

a,
img,
div,
button,
input {
    -webkit-tap-highlight-color: transparent;
}

input,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

a {
    text-decoration: none;
}

nav {
    list-style: none;
}

img {
    max-width: 100%;
}

.clearfix:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

body{
    position: relative;
    width: 100%;
    height: 100%;
}
/*头部*/
.s-header {
    width: 100%;
    height: 1rem;
    background-color: #65BD8F;
    padding: 0.24rem 0 0.24rem 0.27rem;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    transition: top 0.5s;
    z-index: 2;
}

.s-logo {
    height: 0.52rem;
}

.s-name {
    color: #fff;
    font-size: 0.38rem;
    margin-left: 0.15rem;
}

.s-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: top 0.5s;
    z-index: 2;
}

.s-nav:before {
    display: block;
    content: '';
    height: 1rem;
}

.s-navlist {
    width: 100%;
    display: flex;
    background-color: rgba(50, 65, 88, 1);
    height: 1rem;
    transition: 0.5s;
}

.s-navlist li {
    flex: 1;
    height: 1rem;
    border-bottom: 0.04rem solid transparent;
    text-align: center;
}

.s-navlist li a {
    display: block;
    color: #f2f2f6;
    font-size: 0.28rem;
    height: 1rem;
    line-height: 1rem;
}
.s-navlist .active{
    border-bottom: 0.04rem solid #65BD8F;
}
.s-navlist .active a{
    color: #65BD8F;
}
.nav-fixed .s-header{
    top: -1rem;
}
.nav-fixed .s-nav{
    top: -1rem;
}
.nav-fixed .s-navlist{
    background-color: rgba(50, 65, 88, 1);
}
.s-container{
    width: 100%;
    padding-top: 2rem;
}

.s-swiper {
    width: 100%;
    height: 4.6rem;
}

.s-swiper img {
    width: 100%;
    height: 100%;
}

.s-features {
    width: 100%;
    /*padding: 0.27rem 0.57rem 0.47rem;
    background: #f7f7f7;*/
}

.s-features img {
    width: 100%;
    height: 100%;
}

.s-college {
    margin: 0.3rem 0 0.34rem;
}

.s-title {
    padding-bottom: 0.16rem;
    position: relative;
}

.s-title h3 {
    text-align: center;
    color: #505050;
    height: 0.54rem;
    line-height: 0.54rem;
    font-size: 0.38rem;
    font-weight: normal;
}

.s-title-line {
    display: block;
    height: 0.06rem;
    width: 0.8rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -0.4rem;
    background-color: #65BD8F;
    border-radius: 0.03rem;
}

.s-college-description {
    padding: 0.2rem 0.3rem;
}

.s-college-description p {
    font-size: 0.26rem;
    color: #909090;
    line-height: 0.38rem;
}

.s-college-img {
    width: 100%;
}

.s-college-img img {
    width: 100%;
    height: 100%;
}

.s-advantage {
    padding: 0.3rem 0;
    background-color: #f7f7f7;
}

.s-advantage-img {
    padding: 0.48rem 0 0.34rem;
}

.s-choose {
    padding: 0.34rem 0 0.51rem;
    background-color: #f7f7f7;
}

.s-choose-img {
    width: 100%;
}

.s-choose-img img {
    width: 100%;
    height: 100%;
}

.s-teacher {
    padding: 0.36rem 0.2rem 0.6rem;
}

.s-teacher-list {
}

.s-teacher-list li {
    margin-top: 0.3rem;
}

.s-teacher-name {
    width: 100%;
    height: 0.6rem;
    padding-left: 0.16rem;
    line-height: 0.6rem;
    color: #fff;
    font-size: 0.32rem;
    background-color: #65BD8F;
}

.s-teacher-info {
    padding: 0.2rem 0.35rem 0.2rem 0.14rem;
    display: flex;
    justify-content: space-between;
    border: 1px solid #dbdbdb;
    border-top: 0;
}

.s-teacher-img {
    width: 2.68rem;
    height: 2.6rem;
    position: relative;
}

.s-teacher-img img {
    width: 100%;
    height: 100%;
}

.swiper-container-horizontal .s-teacher-pagination {
    bottom: 0;
}

.swiper-container .swiper-pagination-bullet-active {
    background: #65BD8F;
}

.s-teacher-description {
    width: 3.4rem;
}

.s-teacher-item h5 {
    font-size: 0.28rem;
    color: #000;
    line-height: 0.52rem;
}
.s-student-cases{
    display: flex;
    align-items: flex-start;
}
.s-student-cases h5{
    width: 1rem;
}
.s-teacher-item p {
    font-size: 0.22rem;
    color: #909090;
    line-height: 0.32rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    text-align: left;
}
.s-teacher-item-sp{
    color: #909090;
    font-size: 0.28rem;
    line-height: 0.52rem;
}
.s-teacher-middle-item .s-teacher-item-sp{
    font-size: 0.24rem;
    color: #505050;
    line-height: 0.52rem;
}
.s-teacher-middle-item {
    display: flex;
    /*height: 1.4rem;*/
}

.s-teacher-middle-item h5, .s-teacher-middle-item {
    font-size: 0.24rem;
    color: #505050;
    line-height: 0.52rem;
}

.s-teacher-bottom-item {
    display: flex;
    justify-content: space-between;
}

.s-teacher-btn-left, .s-teacher-btn-right {
    width: 1.5rem;
    height: 0.5rem;
    background: #65BD8F;
    border-radius: 0.04rem;
    font-size: 0.24rem;
    line-height: 0.5rem;
    color: #fff;
    text-align: center;
}
.s-teacher-btn-left:visited, .s-teacher-btn-right:visited{
    color: #fff;
}
.s-curse {
    background-color: #f7f7f7;
    padding: 0.3rem 0.2rem 0.1rem;
}

.s-course-list {
    width: 100%;
    margin-top: 0.3rem;
}

.s-course-item {
    width: calc((100% - 14px) / 2);
    height: 3rem;
    background-color: #fff;
    margin-right: 0.14rem;
    float: left;
    position: relative;
    margin-bottom: 0.2rem;
}
.s-course-item  a{
    display: block;
}
.s-course-item:nth-of-type(even) {
    margin-right: 0;
}
.s-course-item img{
    width: 100%;
    height: 100%;
}
.s-course-title {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.5rem;
    text-align: center;
    line-height: 0.5rem;
    font-size: 0.28rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}
.s-training{
    padding: 0.4rem 0.25rem 0;
}
.s-subtitle{
    margin-top: 0.2rem;
}
.s-subtitle h3{
    font-size: 0.34rem;
    color: #303030;
    text-align: center;
    line-height: 0.54rem;
}
.s-subtitle h5{
    font-size: 0.28rem;
    color: #000;
    text-align: center;
    line-height: 0.42rem;
}
.s-training-swiper {
    width: 100%;
    margin-top: 0.2rem;
    padding-bottom: 0.6rem;
}
.s-training-item{
    border: 1px solid #e8e8e8;
    background-color: #fff;
    width: 100%;
    padding: 0.1rem 0.1rem 0.3rem;
}
.s-training-item-title{
    font-size: 0.26rem;
    color: #505050;
    text-align: center;
}
.s-training-item-dt{
    font-size: 0.26rem;
    color: #fff;
    background-color: #65BD8F;
    text-align: center;
    line-height: 0.42rem;
    margin: 0.2rem 0;
}
.s-training-item-dd{
    text-align: center;
    font-size: 0.26rem;
    color: #505050;
}
.s-training-img{
    width: 100%;
    height: 2.4rem;
}
.s-training-img img{
    width: 100%;
    height: 100%;
}
.s-training-title{
    border-top: 0.01rem solid #e8e8e8;
    border-bottom: 0.01rem solid #e8e8e8;
    padding: 0.15rem 0 0.2rem;
}
.s-training-title h5{
    font-size: 0.26rem;
    color: #505050;
    text-align: center;
}
.s-training-title .s-title h3{
    font-size: 0.26rem;
    color: #505050;
}
.s-training-description{
    width: 100%;
    margin: 0.2rem 0 0.4rem;
}
.s-training-description li{
    font-size: 0.2rem;
    color: #909090;
    padding: 0 0.1rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    text-align: left;
}
.s-training-more{
    margin: 0.36rem auto 0;
    width: 2.4rem;
    height: 0.6rem;
    color: #fff;
    text-align: center;
    line-height: 0.6rem;
    display: block;
    background-color: #65BD8F;
    border-radius: 0.05rem;
    font-size: 0.28rem;
}
.swiper-container-horizontal .s-training-pagination {
    bottom: -0.2rem;
}
.s-question-img{
    width: 100%;
    margin-top: 0.3rem;
}
.s-question-img img{
    width: 100%;
}
.s-certificate{
    margin-top: 0.32rem;
}
.s-certificate-panel-group{
    padding: 0.2rem;
}
.s-certificate-panel-item{
    margin-bottom: 0.02rem;
}
.s-certificate-panel-item-down{
    background: #696474;
    width: 100%;
    height: 0.9rem;
    display: flex;
    justify-content: space-between;
    padding: 0.21rem 0.24rem;
    align-items: center;
}
.s-certificate-leftbox{
    display: flex;
}
.s-certificate-panel-item-down-left{
    font-size: 0.34rem;
    color: #FFFFFF;
    border-right: 0.03rem solid #fff;
    padding-right: 0.35rem;
    line-height: 0.48rem;
    font-weight: bold;
}
.s-certificate-panel-item-down-middle{
    padding-left: 0.34rem;
    font-size: 0.28rem;
    color: #FFAF58;
    display: flex;
    align-items: center;
}
.star{
    display: flex;
    margin-left: 0.12rem;
}
.star span{
    width: 0.26rem;
    height: 0.24rem;
    background: url("../images/star.png") no-repeat;
    background-size: contain;
    margin-right: 0.15rem;
}
.s-certificate-panel-item-down-right{
    width: 0.28rem;
    height: 0.28rem;
    background: url("../images/down.png") center no-repeat;
    background-size: contain;
    float: right;

}
.s-certificate-level{
    background: url("../images/lbg.jpg") repeat-y;
    font-size: 0.26rem;
    color: #505050;
    line-height: 0.42rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.44rem 0.56rem;
}
.s-certificate-hint{
    margin: 0.32rem 0.4rem 0.35rem 0.53rem;
    padding-left: 0.4rem;
    background: url("../images/scicon.png") left center no-repeat;
    background-size: 0.32rem 0.23rem;
    font-size: 0.28rem;
    color: #505050;
}
.s-certificate-consulting{
    display: block;
    text-align: center;
    border: 0.02rem solid #7EBA9B;
    border-radius: 0.05rem;
    width: 3.4rem;
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.34rem;
    color: #7EBA9B;
    margin: 0 auto 0.4rem;
}
.s-certificate-consulting:visited{
    color: #7EBA9B;
}
.s-authority{
    padding: 0.37rem 0.55rem 0.38rem;
    background: #F7F7F7;
}
.s-authority-img{
    margin-top: 0.3rem;
    width: 100%;
}
.s-authority-img img{
    width: 100%;
}
.s-student{
    padding-top: 0.3rem;
}
.s-student-swiper{
    width: 100%;
    height: 4rem;
    margin-top: 0.3rem;
    padding-bottom: 0.6rem;
}
.s-student-swiper .swiper-slide{
    width: 70%;
    height:100%;
}
.s-student-swiper .swiper-slide a{
    width: 100%;
    height: 100%;
    display: inline-block;
}
.s-student-swiper .swiper-slide img{
    width: 100%;
    height: 100%;
}
.swiper-container-horizontal .s-student-pagination {
    bottom: -0.2rem;
}
.s-graduation{
    padding-top: 0.3rem;
    background: #F7F7F7;
}
.s-graduation-img{
    width: 100%;
    margin-top: 0.2rem;
}
.s-graduation-img img{
    width: 100%;
}
.s-cases{
    margin-top: 0.48rem;
    padding: 0 0.2rem;
}
.s-cases-swiper{
    width: 100%;
    height: 4.9rem;
    margin-top: 0.3rem;
    padding-bottom: 0.8rem;
}
.s-cases-item{
    display: flex;
    height: 100%;
}
.s-cases-item-left, .s-cases-item-right{
    width: 50%;
    height: 100%;
}
.s-cases-item-left img{
    height: 100%;
    width: 100%;
}
.s-cases-item-right{
    padding: 0.25rem;
    background: #F7F7F7;
}
.s-cases-name{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.dot{
    width: 0.11rem;
    height: 0.11rem;
    border-radius: 50%;
    background: #65BD8F;
    margin-right: 0.08rem;
}
.s-cases-name span:nth-last-of-type(1){
    font-size: 0.38rem;
    color: #303030;
}
.s-cases-item-title{
    width: 1.48rem;
    height: 0.52rem;
    line-height: 0.52rem;
    text-align: center;
    color: #fff;
    background: url("../images/scbg.jpg") no-repeat;
    background-size: contain;
    font-size: 0.28rem;
    margin: 0.1rem 0 0.16rem;
}
.s-cases-item-info{
    font-size: 0.28rem;
    color: #505050;
    line-height: 0.42rem;
}
.s-cases-item-info .desc{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    text-align: left;
}
.swiper-container-horizontal .s-cases-pagination {
    bottom: -0.2rem;
}
.bold{
    font-weight: bold;
}
.s-signup, .s-attention{
    padding-top: 0.3rem;
    background-color: #F7F7F7;
}
.s-signup-img, .s-attention-img{
    width: 100%;
    margin-top: 0.2rem;
}
.s-signup-img img, .s-attention-img img{
    width: 100%;
}
.s-onlinesign{
    padding: 0.43rem 0.55rem 0;
}
.s-onlinesign-banner{
    width: 100%;
    margin-top: 0.32rem;
    margin-bottom: 0.48rem;
    height: 0.7rem;
}
.s-onlinesign-banner img{
    width: 100%;
    height: 100%;
    vertical-align: top;
}
.s-onlinesign-form>div{
    margin-bottom: 0.35rem;
    width: 100%;
    position: relative;
    height: 0.9rem;
}
.s-onlinesign-form>div span{
    position: absolute;
    left: 0.18rem;
    top: 50%;
}
.s-onlinesign-form>div input{
    width: 100%;
    height: 0.9rem;
    background: #FFFFFF;
    border: 0.01rem solid #CBCBCB;
    border-radius: 0.05rem;
    font-size: 0.34rem;
    color: #C4BFBF;
    padding-left: 0.73rem;
    outline: none;
}
.s-onlinesign-name span{
    background: url("../images/son.jpg") no-repeat;
    background-size: contain;
    width: 0.38rem;
    height: 0.38rem;
    margin-top: -0.19rem;
}
.s-onlinesign-tel span{
    background: url("../images/sot.jpg") no-repeat;
    background-size: contain;
    width: 0.26rem;
    height: 0.4rem;
    margin-top: -0.2rem;
}
.s-onlinesign-btn{
    background: #65BD8F;
    border-radius: 0.05rem;
    width: 100%;
    height: 0.9rem;
    color: #fff;
    text-align: center;
    line-height: 0.9rem;
    margin: 0.1rem 0 auto;
    outline: none;
    border: 0;
    font-size: 0.34rem;
    vertical-align: initial;
    display: block;
}
.s-onlinesign-btn:visited{
    color: #fff;
}
.s-onlinesign-hint{
    text-align: center;
    padding: 0.37rem 0 0.96rem;
    font-size: 0.24rem;
    color: #C4BFBF;
}
.s-footer{
    width: 100%;
    background-color: #f7f7f7;
    padding: 0.4rem 0 1.2rem;
}
.s-footer-share{
    display: flex;
    justify-content: center;
    align-items: center;
}
.s-footer-share .dp{
    width: 0.3rem;
    height: 0.3rem;
    background: url("../images/dp.jpg") no-repeat;
    background-size: contain;
    margin-right: 0.25rem;
}
.s-footer-share .wb{
    width: 0.33rem;
    height: 0.3rem;
    background: url("../images/wb.jpg") no-repeat;
    background-size: contain;
    margin-right: 0.25rem;
}
.s-footer-share .wc{
    width: 0.35rem;
    height: 0.3rem;
    background: url("../images/wc.jpg") no-repeat;
    background-size: contain;
    margin-right: 0.25rem;
}
.s-footer-share .zfb{
    width: 0.34rem;
    height: 0.3rem;
    background: url("../images/zfb.jpg") no-repeat;
    background-size: contain;
    margin-right: 0.25rem;
}
.s-footer-copyright{
    margin-top: 0.2rem;
}
.s-footer-copyright p{
    font-size: 0.22rem;
    color: #898989;
    line-height: 0.36rem;
    text-align: center;
}
.s-fixed{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    z-index: 3;
}
.s-fixed a{
    width: 50%;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.32rem;
    color: #FFFFFF;
    background: #65BD8F;
}
.s-fixed .s-fixed-online{
    background: #85C2F9;
}
.s-fixed .s-fixed-tel span{
    width: 0.42rem;
    height: 0.42rem;
    background: url("../images/ft.jpg") no-repeat;
    background-size: contain;
}
.s-fixed .s-fixed-online span{
    width: 0.49rem;
    height: 0.42rem;
    background: url("../images/fwc.jpg") no-repeat;
    background-size: contain;
}
.s-navigation{
    font-size: 0.26rem;
    padding: 0.3rem 0.2rem;
    color: #909090;
}
.s-navigation a, .s-navigation a:visited{
    color: #909090;
}
.s-navigation .s-navigation-current, .s-navigation .s-navigation-current:visited{
    color: #303030;
}
.s-teacher-content{
    padding: 0.3rem 0.2rem 0;
}
.s-teacher-content-info{
    border-bottom: 0.01rem dotted #e8e8e8;
    height: 0.7rem;
    line-height: 0.7rem;
    font-size: 0.2rem;
    color: #909090;
}
.s-teacher-content-inner{
    width: 100%;
    padding-top: 0.5rem;
    font-size: 0.22rem;
    color: #505050;
    line-height: 0.38rem;
}
.s-teacher-content-inner img{
    width: 100%;
    margin: 0.2rem 0;
}
.s-teacher-content-inner-top{
    display: flex;
}
.s-teacher-content-inner-top-left{
    width: 2.68rem;
    height: 2.6rem;
}
.s-teacher-content-inner-top-left img{
    width: 100%;
    height: 100%;
}
.s-teacher-content-inner-top-right{
    flex: 1;
    padding-left: 0.4rem;
    font-size: 0.22rem;
    color: #505050;
    line-height: 0.38rem;
}
.s-teacher-content-inner-bottom{
    font-size: 0.22rem;
    color: #505050;
    line-height: 0.38rem;
}
.s-turnpage{
    margin-top: 0.2rem;
    display: flex;
    justify-content: space-between;
    padding: 0 0.2rem 0.6rem;
}
.s-turnpage-prev{
    font-size: 0.24rem;
    color: #909090;
}
.s-turnpage-prev a, .s-turnpage-prev a:visited{
    color: #999;
}
.s-turnpage-next{
    font-size: 0.24rem;
    color: #7EBA9B;
}
.s-turnpage-next a, .s-turnpage-next a:visited{
    color: #7EBA9B;
}
.s-course-img{
    width: 2.68rem;
    height: 2.6rem;
}
.s-course-img img{
    width: 100%;
    height: 100%;
}
.s-student-list{
    margin-top: 0.3rem;
}
.s-student-item {
    width: calc((100% - 0.26rem) / 2);
    margin-right: 0.26rem;
    float: left;
    margin-bottom: 0.3rem;
}
.s-student-item:nth-of-type(even){
    margin-right: 0;
}
.s-student-item img{
    width: 100%;
    height: 2.6rem;
}
.s-student-item p{
    font-size: 0.24rem;
    color: #505050;
    line-height: 0.48rem;
}
.s-student-type{
    padding: 0.3rem 0.2rem 0;
    display: flex;
    justify-content: space-between;
}
.s-student-type>div{
    width: 1.6rem;
    height: 1.6rem;
    background-color: #fff;
    border: 1px solid #65BD8F;
    border-radius: 50%;
    padding: 0.1rem;
}
.s-student-type-title{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s-student-type-title span{

}
.s-student-type-one{
    width: 1.6rem;
    height: 1.6rem;
    background: url("../images/t1.jpg") no-repeat;
    background-size: contain;
}
.s-student-type-two{
    width: 1.6rem;
    height: 1.6rem;
    background: url("../images/t2.jpg") no-repeat;
    background-size: contain;
}

.s-student-type-three{
    width: 1.6rem;
    height: 1.6rem;
    background: url("../images/t3.jpg") no-repeat;
    background-size: contain;
}

.s-student-type-four{
    width: 1.6rem;
    height: 1.6rem;
    background: url("../images/t4.jpg") no-repeat;
    background-size: contain;
}
.s-scases-btn-left{
    width: 2.5rem;
}

.s-page{
    text-align: center;
    font-size: 0;
    margin: 0.2rem 0;
}
.s-page a{
    color: #505050;
    font-size: 0.2rem;
    padding: 0 0.1rem;
}
.s-page span, .s-page i{
    color: #505050;
    font-size: 0.2rem;
    font-style: normal;
}
.s-page span{
    font-weight: bold;
}
.s-page .active{
    color: #65BD8F;
    border-bottom: 0.04rem solid #65BD8F;
}

a.inner-link{
    color: #23abf0;
}
a.inner-link:hover, a.inner-link:visited{
    color: #65BD8F;
}
a.inner-link:active{
    color: orangered;
}
